body {
    margin: 0px;
    
}
.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
  font-size: 2rem;
}

.right {
  display: flex;
  float: left;
}

.left {
  float: right;
}

img {
    margin-top: 50px;
    margin-left: 50px;
    height: 180px;
}
.section {
    /* background-image: url("resources\\chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.webp"); */
    background-image: url("resources/mx-onboarding-hero87f77501659a5656cad54d98e72bf0d81627911821.webp");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px;
    /* background-attachment: fixed; */
    height: 645px;
    position: relative;
}
.section button {
    position: relative;
    /* top: 80px; */
    left:70px;
    height: 100px;
    width: 200px;
    background-color: red;
    background-image: linear-gradient(to right, red, rgb(3, 3, 6));
    border-radius: 5px;
    color: aliceblue;
    font-size: 2rem;   
}
.section button:hover {
    cursor: pointer;
}

.tagline {
    color: aliceblue;
    margin-left: 60px;
    font-size: 3rem;
}
.big-container {
    position: relative;
    height: 570px;
    background-color: rgb(47, 50, 55);
    padding-top: 90px;
}
.container {
    display: flex;
    /* row-gap: 50px; */
    flex-direction: row;
    justify-content: space-evenly;
    /* min-height: 100%; */
}

.item {
    background-color: rgb(217, 217, 217);
    min-width: 20%;
    padding-bottom: 20px;
    border-radius: 40px;
    border: 5px solid rgb(187, 168, 168);
}

.title {
    margin-top: 10px;
    text-align: center;
    font-size: 2rem;
}

.bullet img {
    height: 10px;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: rgb(217, 217, 217);
    min-width: 100%;
    height: 100px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    text-align: center;
    padding-top: 40px;
    font-size: 3rem;
}

.footer:hover {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100%;
    gap: 250px ;
    padding: 0px;
    margin: 0px;
}

.felx-item {
    min-width: 50%;
}

#details {
    font-size: 2.5rem;
    padding-left: 100px;
    color: aliceblue;
}

.anotherFlex {
    /* margin-left: 100px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.credentials {
    height: 150px;
    width: 400px;
    border-radius: 20px;
    background-color: rgb(217, 217, 217);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    text-align: left;
    /* padding-left: 20px; */
    padding: 20px;
    font-size: 1.5rem;
}

.logout {
    margin-top: 180px;
}

.logout button {
    height: 60px;
    width: 150px;
    background-color: rgb(159, 62, 82);
    border-radius: 50px;
    color: white;
    font-size: larger;
    border: none;
}

.active {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}